<div class='flex flex-col bg-primary-50'>
  <div class='flex items-center gap-2 '>
    <%= image_tag flower.avatar.variant(:small_thumb), class: "rounded-full" %>
    <h2><%= flower.name %></h2>
  </div>
  <div data-controller="carousel" class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag flower.images.first.variant(:thumb) %></div>
    </div>
  </div>
</div>
<swiper-container
  navigation="true"
  pagination="true"
  scrollbar="true"
  effect="coverflow"
>
  <swiper-slide>
    <div class="h-64 grid place-items-center bg-stone-50">Slide 1</div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-64 grid place-items-center bg-stone-50">Slide 2</div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-64 grid place-items-center bg-stone-50">Slide 3</div>
  </swiper-slide>
</swiper-container>
