<div>
  <div
    class='
      flex-1 flex flex-col gap-2 m-8 rounded-md bg-primary-50 max-w-96 p-4 border-2
      border-black
    '
  >
    <h3 class='text-2xl'>Create a new Flower Product</h3>

    <%= render "flowers/form", flower: @flower %>
  </div>
</div>
