<%# A compact version of no reviews message for product cards %>
<div class='flex gap-2 items-center group bg-primary-50 rounded-lg px-3 py-2 transition-colors hover:bg-primary-100'>
  <div class='text-xs'>
    <div class="flex items-center gap-1">
      <i class="fa-regular fa-star text-primary-400"></i>
      <p class="text-primary-600">No reviews yet</p>
    </div>
  </div>
</div> 