<div class='container mx-auto px-4 py-8'>
  <div class='bg-primary-50 rounded-lg p-6'>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center'>
      <%= render partial: "pre_rolls/pre_roll_card", collection: @pre_rolls, as: :pre_roll %>
    </div>

    <div class="mt-8 flex justify-center">
      <%= paginate @pre_rolls %>
    </div>
  </div>
</div> 