<div class='min-h-screen flex items-center'>
  <div class='grid md:grid-cols-2 max-w-4xl mx-auto m-2'>
    <div class='mx-auto max-w-96 md:m-0 md:max-w-none rounded-l-md bg-primary-50 p-4'>
      <h3 class='text-2xl font-bold mb-4'>Create a new Pre-Roll Product</h3>
      <%= render "pre_rolls/form", pre_roll: @pre_roll %>
    </div>
    <div class='hidden md:block'>
      <%= image_tag "flower-form.jpg", class: "object-cover h-full w-full rounded-r-md" %>
    </div>
  </div>
</div> 